* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  /* user-select: none; */
  transition: .2s;
  border-radius: 9q;
  /* overflow-x: hidden; */
}

button {
  /* border: none; */
  /* outline: none; */
  cursor: pointer;
}